
$base-color:#008000  !default;
$secondary-color :gray !default;
$light-color :rgb(241, 240, 240) !default;
$font-color:#ffff    !default;

$font-title-size:2rem  !default;
$font-family: 'Times New Roman', Times, serif !default;

